.App {
  font-family: sans-serif;
  text-align: center;
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1rem;
  }
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  // font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.marquee {
  background: url(https://media.giphy.com/media/ASOy5MlfcyHOE/giphy.gif) center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 35vw;
  margin-bottom: 1.5rem;
  .wackifiedText {
    background: white;
    padding: 10px;
    color: #222;
    transform: translate(0, 10px);
  }
}

.fudged {
  color: red;
  font-weight: bold;
  display: inline-block;
  transform: scale(1, -1);
  position: relative;
  top: 0.09rem;
}

.fish {
  background: yellow;
}